<form action="#"
      th:action="@{/users/edit}"
      th:object="${user}"
      method="post">
    <label for="id">Id</label>
    <input type="text" th:field="*{id}" id="id" placeholder="Id" readonly="readonly">
    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
    <label for="username">Name</label>
    <input type="text" th:field="*{username}" id="username" placeholder="Username">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><label for="email">Email</label>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

    <input type="submit" value="Update User">


</form>